<!-- viewer/photos/templates/photos/columns.html -->

<div class="columns" id="photos">
    {% for photo in photos %}
        <div class="column is-one-third">
            <div class="box">
                <figure class="image is-5by4">
                    <img src="{{ photo.image.url }}">
                </figure>
                <header class="block">
                    <h2 class="title is-2">{{ photo.name }}</h2>
                    <h4 class="subtitle is-4 has-text-grey-light">{{ photo.pub_date }}</h4>
                </header>
                <p class="block">
                    {{ photo.description }}
                </p>
            </div>
        </div>
    {% endfor %}
</div>
