<!-- viewer/photos/templates/base.html -->

{% load webpack_loader static %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% block page-title %}
        <title>PhotoView - Dashboard</title>
        {% endblock page-title %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        {% stylesheet_pack 'app' %}
        {% javascript_pack 'app' attrs='charset="UTF-8" defer'%}
        <style>
            
        </style>
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <!-- Navbar Logo Image -->
                <a class="navbar-item" href="{% url 'photos:dashboard' %}">
                    <!-- TODO: Insert Logo Image -->
                    {% load static %}<img src="{% static 'images/' %}" alt="PhotoViewer Logo">
                </a>
                <!-- Navbar Burger and Menu Items -->
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <!-- Navbar Items -->
            <div id="Navbar" class="navbar-menu">
                <!-- Navbar Left-->
                <div class="navbar-start">
                    
                </div>
            </div>
        </nav>
        <div class="section">
            <div class="container">
                <!-- Main -->
                {% block main %}{% endblock main %}
                <!-- Modal -->
                {% block site-modal %}{% endblock site-modal %}
                <!-- JavaScript -->
                {% block site-script %}{% endblock site-script %}

                {% block page-script %}{% endblock page-script %}
            </div>
        </div>
    </body>
</html>